@media all and (max-width: 700px) {
  .logo-font-resp {
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 3.25rem;
  }
}

@media all and (min-width: 702px) {
    .logo-font-resp {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 4.25rem;
      color: white;
      text-decoration: none;
    }
  }

nav {
    font-family: 'Jockey One', sans-serif;
    font-size: 18px;
}

nav a:hover {
  color: white;
}

.titulo-feed{
  font-family: 'Jockey One', sans-serif;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.rotate {
    transform: rotate(0);
    transition: .3s ease;
    z-index: 1;
}
.rotate:hover {
    transform: rotate(365deg);
}


footer {
    color: rgba(255,255,255,.55);
    font-family: 'Jockey One', sans-serif;
    
}
footer a {
    text-decoration: none;
}


